page-wifi-confirm{

  img.imgLogo {
    width: calc(90% - 40px) !important;
    height: 100% !important
  }
}

@media only screen and (max-device-width: 1940px) {
  .copy, .info-text, .content-info {
    padding-top: 0 !important;
  }
}