<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="app.eduroam.geteduroam">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name="app.eduroam.geteduroam.MainActivity"
			android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
			android:label="@string/title_activity_main"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme.NoActionBarLaunch">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:host="@string/custom_url_scheme"
					android:scheme="@string/custom_url_scheme" />
			</intent-filter>
			<!-- MIME Type registration -->
			<intent-filter>
				<data
					android:mimeType="*/*"
					android:pathPattern=".*\\.eap-config"
					android:scheme="content" />
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.emergya.wifieapconfigurator.notification.NotificationActivity"
			android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode"
			android:label="@string/title_activity_main"
			android:launchMode="singleTask"
			android:parentActivityName=".MainActivity"
			android:theme="@style/AppTheme.NoActionBarLaunch"></activity>

		<service
			android:name="com.emergya.wifieapconfigurator.notification.ScheduledService"
			android:permission="android.permission.BIND_JOB_SERVICE"></service>
		<service
			android:name="com.emergya.wifieapconfigurator.notification.StartNotifications"
			android:permission="android.permission.BIND_JOB_SERVICE"></service>
		<service
			android:name="com.emergya.wifieapconfigurator.notification.StartRemoveNetwork"
			android:permission="android.permission.BIND_JOB_SERVICE"></service>

		<receiver android:name="com.emergya.wifieapconfigurator.notification.NotificationReceiver" />
		<receiver android:name="com.emergya.wifieapconfigurator.notification.NotificationsActivator">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
	</application>
	<!-- Permissions -->
	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.BROWSABLE" />
			<data android:scheme="https" />
		</intent>
	</queries>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!-- Camera, Photos, input file -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<!-- Geolocation API -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<uses-feature
		android:name="android.hardware.location.gps"
		android:required="false" />
	<!-- Network API -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.DELEGATION_CERT_INSTALL" />
	<uses-permission
		android:name="android.permission.MANAGE_CA_CERTIFICATES"
		android:protectionLevel="signature" />
	<uses-permission
		android:name="android.Manifest.permission.MANAGE_CA_CERTIFICATES"
		android:protectionLevel="signature" />
	<uses-permission
		android:name="android.permission.NETWORK_SETTINGS"
		android:protectionLevel="signature" />
	<!--  API 29: NetworkRequest.requestNetwork -->
	<uses-permission
		android:name="android.permission.WRITE_SETTINGS"
		tools:ignore="ProtectedPermissions" />
</manifest>
