<div *ngIf="showAll" class="profile-content">
    <div class="header-content" margin-top padding-top>
        <img alt="authorized" src="../../assets/icon/locked-outline.svg" />
        <h1>{{getString('header', 'profile')}}</h1>
    </div>

    <div class="content-form" margin-bottom text-center>

        <form (ngSubmit)="checkForm()">

            <div  class="content-profile" padding-top >
                <ion-label class="label-conf" text-left>{{getString('label', 'username')}}</ion-label>

                <input (blur)="blur()" [(ngModel)]="provide.email"
                       [ngClass]="!validSuffix && !validMail ? 'error-validation' : ''" [placeholder]="getPlaceholder()"
                       autocomplete="on" class="input-profile" name="email" padding-left type="email"/>

                <p *ngIf="!validMail" class="error-msg">
                    {{getString('error', 'username')}}{{getPlaceholder()}} </p>

                <p *ngIf="!validSuffix" class="error-msg">
                    {{getString('error', 'domain')}}{{suffixIdentity}} </p>
            </div>

            <div class="content-profile" margin-top>
                <ion-label class="label-conf" text-left>{{getString('label', 'password')}}</ion-label>
                <input (blur)="validateForm()" (ngModelChange)="validateForm()" [(ngModel)]="provide.pass" [ngClass]="!!errorPass ? 'error-validation' : ''" class="input-profile"
                       name="pass" padding-left type="password"/>

                <p *ngIf="errorPass" class="error-msg">{{getString('error', 'password')}}</p>
            </div>

            <!-- Terms of use -->
            <div *ngIf="termsOfUse" class="content-terms" ion-row>
                <ion-checkbox [(ngModel)]="provide.terms" col-1 color="primary" name="terms" no-margin no-padding ></ion-checkbox>
                <ion-label col-6 no-padding text-left>{{getString('label', 'accept')}}<a class="terms" href="{{termsUrl}}">{{getString('label', 'terms')}}</a></ion-label>
            </div>
        </form>
    </div>

    <div class="footer-form">
        <form (ngSubmit)="checkForm()">
            <div [ngClass]="!termsOfUse ? 'bottom-button' : ''" class="content-button">
                <button [ngClass]="!enableButton ? 'disabled-button' : ''" class="button-control" ion-button text-capitalize type="submit">{{getString('button', 'next')}}</button>
            </div>
        </form>
    </div>
</div>



