<div *ngIf="showAll" class="container-content">
    <div class="header-content" margin-top padding-top>
        <img alt="setting" src="../../assets/icon/cog-outline.svg" />
        <h1>eduroam configuration</h1>
    </div>

    <div class="content-form" margin-top padding text-center>
        <ion-label class="label-conf" no-margin padding-top text-left>Institution</ion-label>

        <div class="row" padding-top>

            <ion-searchbar (click)="showModal()" [(ngModel)]="instanceName" cancelButtonText
                           class="searchbar-input" no-padding placeholder="Select an institution">

            </ion-searchbar>
        </div>

        <div class="row" padding-top>

            <ion-label *ngIf="!!profiles && profiles.length > 1" class="label-conf" margin-left text-left >Profile</ion-label>

            <ion-item *ngIf="!!profiles && profiles.length > 1" class="item-profile" no-margin no-padding>

                <ion-select (ionChange)="selectProfile()"  *ngIf="!!profiles && profiles.length > 1"
                            [(ngModel)]="selectedProfileId"
                            [ngClass]="profile === defaultProfile ? 'default-profile': ''"
                            [selectedText]="profileName" class="select-profile" name="selectProfile"
                            placeholder="Select a profile..." text-left >

                    <ion-option *ngFor="let profileAux of profiles" [value]="profileAux.id" [className]="!!profileAux.default ? 'default-profile':'normal'">{{profileAux.name}}</ion-option>
                </ion-select>
            </ion-item>
        </div>
    </div>
    <div class="footer-form">

        <div class="content-button" margin *ngIf="showButton">
            <button (click)="navigateTo(profile)" [disabled]="!profile" class="button-control" ion-button text-capitalize> Next </button>
        </div>
    </div>
</div>

