
<ion-content class="container" text-center>

    <div class="base-content">

        <div class="header-content">
            <img src="../../assets/icon/cog-outline.svg" />
            <h1> Eduroam configuration screen</h1>
        </div>

        <ion-list *ngIf="!!instances && instances.length > 0">
            <ion-item>
                <ion-select interface="popover" multiple="false" placeholder="Select a Institution" >
                    <ion-option *ngFor="let institution of instances" value="{{institution.id}}">{{institution.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-list *ngIf="!!profiles && profiles.length > 0">
            <ion-item>
                <ion-select placeholder="Select a Profile" >
                    <ion-option *ngFor="let profile of profiles" value="{{profile.id}}">{{profile.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

    </div>


</ion-content>
