<div *ngIf="!global.isAndroid() && viewCtrl.enableBack() && showAll " class="arrow-back" >
    <button ion-button class="arrow-btn" (click)="goBack()" id="btn-back">
        <span class="button-inner"><span class="caret">⌃</span>
            {{getString('button', 'back')}}
        </span>
    </button>
</div>
<div *ngIf="showAll" class="profile-content" id="dismissable-back">
    <div class="header-content" [ngClass]="!showForm && !logo ? 'only-tittle' : !showForm && !!logo ? 'only-header' : ''" margin-top>
        <img *ngIf="converted_image" #imgLogo [ngClass]="!!logo ? 'imgLogo' : ''" [src]="converted_image" alt="setting" />
        <h1 *ngIf="!converted_image">{{providerInfo.displayName}}</h1>
    </div>

    <form (ngSubmit)="checkForm()">

        <div *ngIf="showForm" class="content-form" text-center>
            <div  class="content-profile">
                <ion-label class="label-conf" text-left>{{getString('label', 'username')}}</ion-label>

                <input (blur)="blur()" [(ngModel)]="provide.email" [ngClass]="!validSuffix || !validMail ? 'error-validation' : ''"
                       [placeholder]="getPlaceholder()" autocomplete="on" class="input-profile" name="email" padding-left type="email"/>

                <p *ngIf="!validMail" class="error-msg">
                    {{getString('error', 'username')}}{{getPlaceholder()}} </p>

                <p *ngIf="!validSuffix && validMail" class="error-msg">
                    {{getString('error', 'domain')}}{{suffixIdentity}} </p>
            </div>

            <div class="content-profile" margin-top>
                <ion-label class="label-conf" text-left>{{getString('label', 'password')}}</ion-label>
                <input (blur)="validateForm()" (ngModelChange)="validateForm()" [(ngModel)]="provide.pass" [ngClass]="!!errorPass ? 'error-validation' : ''"
                       class="input-profile" name="pass" padding-left type="password"/>
                <p padding-left class="note-msg">{{getString('label', 'note')}}</p>
                <p *ngIf="errorPass" class="error-msg">{{getString('error', 'password')}}</p>
            </div>
        </div>

        <!-- Terms of use -->
        <div *ngIf="termsOfUse" class="content-terms" ion-row>
            <ion-checkbox [(ngModel)]="provide.terms" col-1 color="primary" name="terms" no-margin no-padding ></ion-checkbox>
            <ion-label no-padding text-left>{{getString('label', 'accept')}}<a class="terms" (click)="termsModal(providerInfo.termsOfUse)">{{getString('label', 'terms')}}</a></ion-label>
        </div>
    </form>
    <!-- [ngClass]="!focus ? 'footer-form' : 'footer-form-focus'" -->
    <div id="footer" >
        <form (ngSubmit)="checkForm()">
            <div [ngClass]="!termsOfUse ? 'bottom-button' : ''" class="content-button">
                <button [disabled]="!enableButton || (!!termsOfUse && !provide.terms) || !provide.email || !provide.pass" class="button-control" ion-button col-11 type="submit">{{getString('button', 'connect')}}</button>
            </div>
        </form>
    </div>
    <div *ngIf="helpDesk" class="help-desk">
        <ion-label no-margin text-left>{{getString('label', 'help')}}
            <a class="support" (click)="modalSupport()">{{getString('label', 'support')}}</a>
        </ion-label>
    </div>
</div>
