page-profile {

  .profile-content {
    background-color: white;
  }

  .input-profile {
    border-radius: 4px;
    margin-left: 14px !important;
    border: 1px solid #CAD0D6 !important;
    width: calc(100% - 30px);
    margin-right: 12px;
    height: 40px;
  }

  .content-terms {

    ion-checkbox {
      margin: 14px 0 0 20px !important;
    }

    ion-label {
      font-family: Helvetica, sans-serif;
      font-size: 15px !important;

    }
  }
  .content-button button {
    height: 45px;
  }
  .error-msg {
    font-size: 11px;
    color: $color-danger;
  }
  .error-validation {
    border: solid 1px red !important;
  }

  img.imgLogo {
    width: auto !important;
    height: auto !important;
    max-width: 42vw;
    max-height: 10vh;
  }

  .footer-form {
    height: auto !important;
    position: relative;
    width: 100%;
    top: 10px;
  }


  .only-tittle {
    margin-top: 50% !important;
  }

  .only-header {
    margin-top: 25% !important;
  }

  .note-msg {
    font-size: 10px;
    text-align: left;
    color: #404B52;
  }
}

//---------------------------------//
// Show all elements to tap input  //
//---------------------------------//
ion-app, ion-nav, ion-tab, ion-tabs, .app-root, .ion-page {
  contain: unset !important;
  overflow: unset !important;

}
