<ion-content #modal class="container" scrollDownOnLoad text-center>
    <img alt="icon" class="logo" margin margin-top src="../../assets/imgs/logo.png">

    <div class="bar-upped" margin></div>
    <div class="base-content" margin-bottom margin-end margin-left margin-right padding>

        <div class="header-content" margin-top padding-top>
            <img alt="setting" src="../../assets/icon/alert-outline.svg" />
            <h1>{{getString('header', 'error')}}</h1>
        </div>
        <div class="content-error" text-center>

            <div class="error-text" no-margin>

                <p margin padding> {{text}} </p>
            </div>
        </div>
        <div *ngIf="isFinal" class="footer-info" text-center>

            <div class="content-button" *ngIf="!emptyLink()">
                <button (click)="clickKnowMore()" *ngIf="!isLinkEmail()" class="button-control" ion-button text-capitalize>{{getString('button', 'more')}}</button>
                <a *ngIf="isLinkEmail()" class="button-control" href="{{getEmail()}}" ion-button text-capitalize>{{getString('button', 'email')}}</a>
            </div>

            <div (click)="exitApp()" class="text-bottom" margin-top>
                <p class="text-down" padding-top text-center >{{getString('button', 'close')}}</p>
            </div>
        </div>

        <div *ngIf="!isFinal" class="footer-info" text-center>

            <div class="content-button">
                <button (click)="closeModal()" [ngClass]="!checkWifi() ? 'disabled' : ''" class="button-control" ion-button text-capitalize>{{getString('button', 'back')}}</button>
            </div>
        </div>
    </div>
</ion-content>


