page-errors {
  .content-error {
    height: calc(60% - 20px);

    .error-text {
      height: 100%;
      padding-top: 10%;

      p {
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        color: #404B52;
        letter-spacing: 0.9px;
        text-align: center;
        overflow: hidden;
        height: 85%;
      }
    }
  }

  .disabled-button {
    opacity: .4;
    pointer-events: none;
  }
}
////---------------------------------------------
//// Custom style to error page on iOS platform
////---------------------------------------------
@media only screen
and (max-device-width: 812px)
and (orientation: portrait) {

  ion-app.platform-ios page-errors {
    top: 20px !important;

    ion-content div.scroll-content {
      overflow-y: hidden !important;
    }
  }
}

@media only screen and (max-device-width: 1940px) {
  .base-content {
    height: 87% !important;
  }
}
