page-institution-search {
  //---------------------------
  // ion-item custom style
  //---------------------------
  .list-institution {
    background-color: white;
  }
  .label-institution {
    font-size: 20px;
    padding-left: 16px
  }
}
