<ion-header transparent>
    <ion-toolbar *ngIf="ios">
        <ion-searchbar #searchBar (ionCancel)="clearInstance()" (ionInput)="getItems($event)"
                       [(ngModel)]="instanceName" placeholder="{{getString('placeholder', 'institution')}}"
                       [showCancelButton]="true" cancelButtonText="{{getString('button', 'done')}}"></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar *ngIf="!ios">
        <ion-searchbar #searchBar (ionCancel)="clearInstance()" (ionInput)="getItems($event)"
                       [(ngModel)]="instanceName" placeholder="{{getString('placeholder', 'institution')}}"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list no-margin class="list list-ios list-institution">
        <div *ngFor="let institution of filteredInstances;" class="item item-block">
            <div class="item-inner" (click)="selectInstitution(institution)">
                <div class="input-wrapper">
                    <div class="label label-ios label-institution">{{ institution }} </div>
                </div>
            </div>
            <div class="button-effect"></div>
        </div>
    </ion-list>
</ion-content>
