page-institution-search {
  //---------------------------
  // ion-item custom style
  //---------------------------
  .list-institution {
    background-color: white;
  }
  .label-institution {
    font-size: 17px;
    padding-left: 16px;

    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    color: #444;
  }
}
