<ion-header transparent>
    <ion-toolbar *ngIf="ios">
        <ion-searchbar #searchBar (ionCancel)="clearInstance()" (ionInput)="getItems($event)"
                       [(ngModel)]="instanceName" placeholder="{{getString('placeholder', 'institution')}}"
                       [showCancelButton]="true" (ionCancel)="dismiss()" cancelButtonText="{{getString('button', 'done')}}"></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar *ngIf="!ios">
        <ion-searchbar #searchBar (ionCancel)="clearInstance()" (ionInput)="getItems($event)"
                       [(ngModel)]="instanceName" placeholder="{{getString('placeholder', 'institution')}}"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list *ngFor="let institution of filteredInstances" no-margin>
        <ion-item (click)="selectInstitution(institution)">{{institution.name}}</ion-item>
    </ion-list>
</ion-content>
