# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*
/.gradle
../.idea
/.ionic
/.sass-cache
/.sourcemaps/
/.versions
/.vscode
/node_modules
/plugins/wifi-eap-configurator/node_modules
/www
/tsconfig.spec.json
/documentation
/android/gradle
/android/gradlew
/android/gradlew.bat
/android/app/build
/android/app/release
/android/app/src/androidTest
/android/app/src/test
/android/build
/android/capacitor-cordova-android-plugins
/android/local.properties
/android/.idea
/ios/App/App.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/plugins/wifi-eap-configurator/android/build/
/plugins/wifi-eap-configurator/ios/Plugin.xcodeproj/project.xcworkspace/
/plugins/wifi-eap-configurator/ios/Plugin.xcodeproj/xcuserdata/jornane.xcuserdatad/
