page-config {
  //---------------------------
  // ion-item custom style
  //---------------------------
  ion-item {
    background-color: unset;
    div.item-inner {
      padding: 0 !important;
      border-bottom: 0 !important;
    }
  }
}
