<div *ngIf="showAll" class="profile-content">
  <div class="header-content" margin-top padding-top>
    <img *ngIf="converted_image" #imgLogo [ngClass]="!!logo ? 'imgLogo' : ''" [src]="converted_image" alt="setting" margin />
    <h1>{{providerInfo.displayName}}</h1>
  </div>

  <div class="content-form" margin-bottom margin-top text-center>

    <form (ngSubmit)="sendPassphrase()">

      <div  class="content-profile" padding-top margin-top>
        <ion-label class="label-conf" text-left>{{getString('label', 'passphrase')}}</ion-label>

        <input id="input" (blur)="blur()" [(ngModel)]="passphrase" [ngClass]="!validPassPhrase ? 'error-validation' : ''" (focus)="getFocus()"
               autocomplete="on" class="input-profile" name="passphrase" padding-left type="text" />

        <p *ngIf="!validPassPhrase" class="error-msg">
          {{getString('error', 'passphrase')}} </p>
      </div>
    </form>
  </div>

  <div id="footer" [ngClass]="!focus ? 'footer-form' : 'footer-form-focus'">
    <form (ngSubmit)="sendPassphrase()">
      <div class="content-button bottom-button">
        <button [ngClass]="!enableButton ? 'disabled-button' : ''" class="button-control" ion-button text-capitalize type="submit">{{getString('button', 'connect')}}</button>
      </div>
    </form>
  </div>
</div>
