ion-content {

  .base-content {
    margin: 2rem 0;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.62);
  }

  .header-content {

    img {
      width: 12px;
      height: 12px;
    }

    h1 {
      color: #276FBF;
      font-family: 'Franklin Gothic Demi', serif;
      font-size: 16px;
    }
  }
}



