ion-content {
  background-color: #f6f4f3 !important;

  .logo {
    position: relative;
    top: 20px;
    height: 40px;
    width: 100px;
  }
  .bar-upped {
    position: relative;
    top: 9%;
    height: 10px;
    background-color: #276FBF;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }

  .base-content {
    position: relative;
    top: 7%;
    height: 70%;
    margin: 2rem 0;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.62);
    background-color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    .text-down {
      color: #276FBF;
      font-family: 'Franklin Gothic Demi', serif;
      font-size: 12px;
      margin-bottom: 40px;
    }
  }

  .header-content {

    img {
      width: 57px;
      height: 65px;
    }

    h1 {
      color: #276FBF;
      font-family: 'Franklin Gothic Demi', serif;
      font-size: 16px;
    }
  }

  //---------------------------
  // Searchbar custom style
  //---------------------------
  ion-searchbar {
    input {
      box-shadow: none !important;
      border-radius: 5px 5px 5px 5px !important;
      -moz-border-radius: 5px 5px 5px 5px !important;
      -webkit-border-radius: 5px 5px 5px 5px !important;
      border: 0.5px solid #787b7d !important;
      --background: green;
      //---------------------------
      // Icon searchbar custom style
      //---------------------------
      div.searchbar-search-icon {
        background-size: 28px !important;
      }
    }
  }
}


