@import "variables";

.button-control {
  color: $colors(primary);
  margin: 4rem;

}

.button-control-disabled {
  color: $colors(ligth);
  margin: 4rem;

}
.select-control {

  &:hover {
    background-color: $colors(ligth);
  }
}
