// Imports
// --------------------------------------------------
// Global
// --------------------------------------------------
@import "ionic.globals";

// --------------------------------------------------
// App Theme
// --------------------------------------------------
@import "ionic.theme.default";

// --------------------------------------------------
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";

@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('../assets/fonts/Franklin Gothic Demi Regular.ttf');
}

@font-face {
  font-family: 'Franklin Gothic Regular';
  src: url('../assets/fonts/Franklin Gothic Regular.ttf');
}

// --------------------------------------------------
// Ionicons
// --------------------------------------------------
@import "ionic.ionicons";

// --------------------------------------------------
// Shared
// --------------------------------------------------
@import "base-content";

// --------------------------------------------------
// Variables
// --------------------------------------------------
$app-direction: ltr;
$font-path: "../assets/fonts";
//---------------------------------------------------
// Named Color Variables
// --------------------------------------------------
$color-primary: #276fbf;
$color-secondary: #1a4d6d;
$color-tertiary: #c0e0de;
$color-danger: #f04141;
$color-dark: #404b52;
$color-light: #f6f4f3;


